{% apply inky_to_html |inline_css(source('@styles/foundation-emails.css'), source('@styles/email.css'))%}

  <container class="container">
        <row class="header">
            <columns>
                <a href="http://localhost:3000/"> 
                    {# <img src="{{ email.image('@images/email/logo.png') }}" class="logo" alt="LivresOTresor Logo"> #}
                    <img src="{{absolute_url( asset('assets/images/logo.png')) }}" class="logo" alt="LivresOTresor Logo">
                </a>
            </columns>
        </row>
       
                            <row class="welcome">
                                <columns>
                                    <spacer size="35"></spacer>
                                    <h1>                                        
                                            Bonjour {{email.toName | capitalize}}
                                       
                                    </h1>
                                    <spacer size="10"></spacer>
                                </columns>
                            </row>
                            <spacer size="30"></spacer>
                             <row>
                                <columns>
                                    <p>
                                        Une demande de changement de mot de passe a été demandé pour cette adresse mail. Si vous êtes à l'origine de cette demande, vous trouverez votre nouveau mot de passe ici:
                                    </p>
                                </columns>
                            </row>
                            <row>
                                <columns>
                                    <p class="text-center">
                                        {{password}}
                                    </p>
                                </columns>
                            </row>
                            <row>
                                <columns>
                                    <p>
                                        Vous pouvez désormais vous connecter à cette adresse en renseignant votre mail et votre nouveau mot de passe : <a href="www.livresotresor.fr/connexion-parent"> Me connecter</a>.
                                    </p>
                                </columns>
                            </row>
                            <row>
                                <columns>
                                    <center>
                                    Si vous n'êtes pas à l'origine de cette demande de changement de mot de passe, veuiller vous connecter et modifier votre adresse mail ainsi que votre mot de passe.
                                    N'hésitez pas à nous faire des retours en cas de dysfonctionnement. Nous tenterons de régler le problème au plus tôt. 
                                    </center>
                                </columns>
                            </row>
                            <row>
                                <columns>
                                    <p>
                                Au plaisir de donner goût à la lecture à votre enfant!
                                </p>
                                </columns>
                            </row>
                            <row>
                                 <columns>
                                    <p>Passez une excellente journée</p>
                                    <p>Amicalement, <em>Livres O'Trésor</em></p>
                                </columns>

                            </row>
                            

                            <row class="bottom">
                                <columns>
                                    <center>
                                        <spacer size="20"></spacer>
                                        <div class= "footer">
                                            Envoyé avec toute notre amitié ❤️ par l'équipe de livres O Trésor
                                        </div>
                                    </center>
                                </columns>
                            </row>
                        </container> 
{% endapply %}

