{% apply inky_to_html |inline_css(source('@styles/foundation-emails.css'), source('@styles/email.css'))%}

  <container class="container">
        <row class="header">
            <columns>
                <a href="http://localhost:3000/"> 
                    {# <img src="{{ email.image('@images/email/logo.png') }}" class="logo" alt="LivresOTresor Logo"> #}
                    <img src="{{absolute_url( asset('assets/images/logo.png')) }}" class="logo" alt="LivresOTresor Logo">
                </a>
            </columns>
        </row>
       
                            <row class="welcome">
                                <columns>
                                    <spacer size="35"></spacer>
                                    <h1>                                        
                                            Bienvenue {{email.toName | capitalize}}
                                       
                                    </h1>
                                    <spacer size="10"></spacer>
                                </columns>
                            </row>
                            <spacer size="30"></spacer>
                             <row>
                                <columns>
                                    <p>
                                        Nous sommes heureux de vous accueillir dans l'accompagnement à la lecture pour votre enfant.
                                    </p>
                                </columns>
                            </row>
                            <row>
                                <columns>
                                    <p>
                                        Créer un compte enfant dans votre espace parent et enregistrez son premier livre lu pour débloquer sa première récompense et le motiver à la lecture!
                                    </p>
                                </columns>
                            </row>
                            <row>
                                <columns>
                                    <p>
                                        Ici, pas d'échange entre les enfants. C'est votre espace privé pour consulter, stocker et motivé votre enfant en toute sécurité. 
                                       <a href="www.livresotresor.fr/tutoriel"> Un tutoriel</a> d'accompagnement est présent sur le site pour vous aider, ainsi qu'une <a href="www.livresotresor.fr/faq"> FAQ </a>qui répondra à la plupart des questions.
                                    </p>
                                </columns>
                            </row>
                            <row>
                                <columns>
                                    <center>
                                    Ce site est un projet à taille humaine créer par des étudiants en fin de formations de développement informatique.
                                    N'hésitez pas à nous faire des retours en cas de dysfonctionnement. Nous tenterons de régler le problème au plus tôt. 
                                    </center>
                                </columns>
                            </row>
                            <row>
                                <columns>
                                    <p>
                                Au plaisir de donner goût à la lecture à votre enfant!
                                </p>
                                </columns>
                            </row>
                            <row>
                                 <columns>
                                    <p>Passez une excellente journée</p>
                                    <p>Amicalement, <em>Livres O'Trésor</em></p>
                                </columns>

                            </row>
                            

                            <row class="bottom">
                                <columns>
                                    <center>
                                        <spacer size="20"></spacer>
                                        <div class= "footer">
                                            Envoyé avec toute notre amitié ❤️ par l'équipe de Livres O Trésor
                                        </div>
                                    </center>
                                </columns>
                            </row>
                        </container> 
{% endapply %}


 